
// CVD-distinct flat UI colors from https://flatuicolors.com/palette/gb
$blue:          #273c75;
$cyan:          #00a8ff;
$red:           #e84118;

$white:         white;
$light:         #dcdde1;
$secondary:     #7f8fa6;
$dark:          #353b48;
$black:         #2f3640;

// These two colors are not CVD distinct, it's advised to avoid using them
$green:       #4cd137;//$blue;
$yellow:       #fbc531;//$red;

$gray-100: $light;
$gray-200: $light;
$gray-300: $light;
$gray-400: $secondary;
$gray-500: $secondary;
$gray-600: $secondary;
$gray-700: $dark;
$gray-800: $dark;
$gray-900: $dark;

// override bs-shifted colors
$link-hover-color:              $black;
$list-group-border-color:       $secondary;
$input-focus-border-color:      $secondary;
$form-switch-color:             $black;
$dropdown-link-hover-color:     $link-hover-color;
$accordion-button-active-color: $blue;
$toast-background-color:        $white;


$mark-bg:                     $yellow;
$table-striped-bg:            $black;
$table-active-bg:             $black;
$table-hover-bg:              $light;
$form-range-thumb-active-bg:  $blue;
$form-file-button-hover-bg:   $gray-200;
$dropdown-dark-link-hover-bg: $white;
$dropdown-dark-link-active-bg:$gray-200;
$card-cap-bg:                 $light;
$accordion-button-active-bg:  $blue;
$popover-header-bg:           $white;

