.skelet {
  &.img-dbicon {
    width: 30px !important;
    height: 30px !important;
  }

  &.nav-link {
    width: 104px !important;
    height: 42px !important;
  }

  &.anim {
    background-color:$light;
    animation: skelet-pulse 700ms linear infinite alternate;
  }

  &.text {
    height: 16px;
  }
}

@keyframes skelet-pulse {
  0% {
    background-color: $light;
  }
  100% {
    background-color: mix(white, $light, 24%);
  }
}


.inner-card{
  height:20px;
  background-color:$light;
}

.card-1{
  height:200px;
  background-color:$light;
}

.card-2{
  height:130px;   
}
