<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Metabolite Index DB</title>

    {% include 'head.html' %}
    {% block head %}{% endblock %}
  
    <link rel="stylesheet" href="/css/app.min.css" />
    <link rel="stylesheet" href="/css/icons.css" />
  </head>
  <body>
    <div id="root"></div>

    <noscript>You need to enable JavaScript to run this app. Alternatively see our client libraries or API documentation.</noscript>
    <script type="module" src="/js/index.min.js"></script>
  </body>
</html>